.bg-imge-3{
    background-image: url('../../assets/gradient.jpg');
    background-size:cover;
 
}
.bg-imge-2{
    border-radius: 24px;
    background-color: white;
    background-image: url('../../assets/bg-shadow.png');
    background-size:cover;
}